<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Songr App</h1>
    <div class="navbar">
        <ul class="nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/hello">Welcome</a>
            </li>
            <li>
                <a href="/capitalize/hello">Capitalize</a>
            </li>
            <li>
                <a href="/albums">Albums</a>
            </li>
        </ul>
    </div>
</header>
<h1>Form</h1>
<form th:action="@{/albums}" th:object="${Album}" method="post" class="form">
    <p>Title     <input type="text" field=" ${album.title}" name="title" /></p>
    <p>Artist    <input type="text" field="${album.artist}" name="artist"/></p>
    <p>ImageUrl  <input type="text" field="${album.imgUrl}" name="imgUrl"/></p>
    <p>SongCount <input type="text" field="${album.songCount}" name="songCount"/></p>
    <p>Length    <input type="text" field="${album.length}" name="length"/></p>
    <p><input type="submit" value="Submit" />
</form>

<h1>Albums</h1>
<div th:each="Album: ${albums}" class="albums">
        <img th:src="${Album.getImgUrl()}" style="width:200px ; height:190px">
        <h3 th:text="'Album: '+${Album.getTitle()}" class="albumTitle"></h3>
        <h4 th:text="'Artist: '+${Album.getArtist()}"></h4>
        <h4 th:text="'Songs: '+${Album.getSongCount()}"></h4>
        <h4 th:text="'Songs Length:'+${Album.getLength()+'seconds'}"></h4>

</div>
</body>
</html>