<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Songr App</h1>
    <div class="navbar">
        <ul class="nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/hello">Welcome</a>
            </li>
            <li>
                <a href="/capitalize/hello">Capitalize</a>
            </li>
            <li>
                <a href="/albums">Albums</a>
            </li>
        </ul>
    </div>
</header>
<h1>Hello World!</h1>
</body>
</html>