<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Songr App</h1>
    <div class="navbar">
        <ul class="nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/hello">Welcome</a>
            </li>
            <li>
                <a href="/capitalize/hello">Capitalize</a>
            </li>
            <li>
                <a href="/albums">Albums</a>
            </li>
            <li>
                <a href="/songs">Songs</a>
            </li>
        </ul>
    </div>
</header>
<h2 class="welc">Welcome to our Songr App</h2>
</body>
</html>